.Right_part div {
    display: felx;
    flex-direction: row;
    
}
.Nav_conatiner{
    display:flex;
    width:100%;
    margin-left:4rem;
    gap:2%;
    margin-top:5px;
    min-width:auto;
}

.Search_bar_Nav input{
    padding:.2rem 10rem .2rem 10rem ;
    border-radius:.7rem;
    text-align:left;
}

.dropdown_nav button {

    border:none;
    background-color:white;

}
.dropdown_nav a, .Profile_Pic_icon a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.dropdown_nav .dropdown_nav_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    box-shadow: 2px 2px 5px hsla(0,0%,0%,0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    min-height: 150px;
}
.dropdown_nav:hover .dropdown_nav_content{
    display:block;
}

